<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <div class="modal-header">
      <h3>{{ editData ? 'Edit User' : 'Register New User' }}</h3>
      <button class="modal-close" (click)="closeModal()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
    
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" [(ngModel)]="registerData.name" name="name" class="form-input" placeholder="John Doe">
        </div>

        <div class="form-group">
          <label>Email Address</label>
          <input type="email" [(ngModel)]="registerData.email" name="email" class="form-input" placeholder="example@brandit.ws" [disabled]="editData" [title]="editData ? 'O email não pode ser alterado' : ''">
        </div>

        <div class="form-group">
          <label>Password</label>
          <div class="password-wrapper">
            <input 
              [type]="showPassword() ? 'text' : 'password'" 
              [(ngModel)]="registerData.password" 
              name="password" 
              class="form-input" 
              placeholder="••••••••"
              [disabled]="editData"
              [title]="editData ? 'A password não pode ser alterada aqui' : ''">
            
            <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
              <span class="material-symbols-outlined">
                {{ showPassword() ? 'visibility_off' : 'visibility' }}
              </span>
            </button>
          </div>
        </div>

        <div class="form-group">
          <label>User Role</label>
          <select [(ngModel)]="registerData.role" name="role" class="form-input" [disabled]="editData" [title]="editData ? 'A role altera-se diretamente na tabela' : ''">
            <option value="worker">Worker</option>
            <option value="admin">Admin</option>
          </select>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" type="button" (click)="closeModal()">
        Cancel
      </button>
      
      <button class="btn-add-stat modal-submit-btn" type="submit" [disabled]="isLoading" (click)="handleRegister()">
        <span class="add-icon"></span> {{ isLoading ? 'Saving...' : (editData ? 'Save Changes' : 'Register User') }}
      </button>
    </div>

  </div>
</div>