.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-page);
  overflow-y: auto;
}

.page-body {
  padding: 32px;
  flex: 1;
  background: var(--bg-gradient-radial);
}


.dashboard-header {
  margin-bottom: 24px;
}

.dashboard-header h2 {
  font-size: 24px;
  font-weight: 700;
  color: #0F172A; 
  margin: 0;
  text-align: right;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px; 
}

.stat-card {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border: 1px solid #F1F5F9; 
  transition: transform 0.2s, box-shadow 0.2s;
  flex-direction: column-reverse;
}

.stat-card:hover {
  transform: translateY(-2px); 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
}

.stat-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stat-title {
  font-size: 14px;
  font-weight: 600;
  color: #64748B; 
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.stat-value {
  font-size: 32px; 
  font-weight: 800;
  color: #0F172A; 
}

.stat-icon-wrapper {
  width: 48px;
  height: 48px;
  background-color: #ADC6FF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #004395; 
  margin-bottom: 16px;
}