<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<aside class="sidebar-container" [class.collapsed]="isCollapsed()">
  <div class="sidebar-header" (click)="toggleSidebar()" title="Abrir/Fechar Menu">
    <div class="logo-wrapper">
      <img src="/logo.jpg" alt="Logo">
    </div>
    <span class="brand-name">VEYRA</span>
  </div>

<nav class="nav-menu">
    <a routerLink="/dashboard" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="material-symbols-outlined">bar_chart</span>
      <span class="nav-text">Dashboard</span>
    </a>

    <a routerLink="/clients" class="nav-item" routerLinkActive="active">
      <span class="material-symbols-outlined">groups</span>
      <span class="nav-text">Clients</span>
    </a>

    <a routerLink="/projects" class="nav-item" routerLinkActive="active">
      <span class="material-symbols-outlined">folder_open</span>
      <span class="nav-text">Projects</span>
    </a>

    <a routerLink="/workerslist" class="nav-item" routerLinkActive="active">
      <span class="material-symbols-outlined">work</span>
      <span class="nav-text">Workers</span>
    </a>
  </nav>
</aside>