<div class="profile-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    
    <app-header></app-header>

    <div class="page-body">
      <h1>My Profile</h1>

      <div class="stats-grid">
        
        <div class="stat-card">
          <h1>{{ currentUser.firstName }} {{ currentUser.lastName }}</h1>
          <span class="stat-label"><strong>Email:</strong> {{ currentUser.email }}</span>
          <span class="stat-label-profile"><strong>Profile:</strong> {{ currentUser.role | titlecase }}</span>
        </div>
        
        <div class="stat-card personal-info">
          <div class="stat-title">
            <h2>Personal Information</h2>
            @if (!isEditing) {
              <button class="btn-edit-stat" (click)="startEditing()">
                <span class="add-icon">✎</span> Edit
              </button>
            }
          </div>

          <div class="info-fields-grid">
            
            <div class="form-group">
              <label>First Name</label>
              <input type="text" [value]="currentUser.firstName" class="profile-input" [disabled]="!isEditing">
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" [value]="currentUser.lastName" class="profile-input" [disabled]="!isEditing">
            </div>

            <div class="form-group">
              <label>Password</label>
              <div class="password-wrapper">
                <input [type]="showPassword ? 'text' : 'password'" [value]="currentUser.password" class="profile-input" [disabled]="!isEditing">
                <span class="material-symbols-outlined eye-icon" (click)="togglePassword()">
                  {{ showPassword ? 'visibility_off' : 'visibility' }}
                </span>
              </div>
              @if (isEditing) {
                <a class="change-password-link" (click)="changePassword()">Change Password</a>
              }
            </div>

            <div class="form-group">
              <label>Email Address</label>
              <input type="email" [value]="currentUser.email" class="profile-input" [disabled]="!isEditing">
            </div>

            <div class="form-group">
              <label>User Role</label>
              <div class="role-display">
                {{ currentUser.role | titlecase }}
              </div>
            </div>

          </div>

          @if (isEditing) {
            <div class="form-actions">
              <button class="btn-cancel" (click)="cancelEditing()">Cancel</button>
              <button class="btn-save" (click)="saveChanges()">Save Changes</button>
            </div>
          }

        </div>
        
        <div class="stat-card">
          <h1>Settings</h1>
          
          <span class="stat-label">Enable Activity Log</span>
          <label class="switch">
            <input type="checkbox" [checked]="settings.activityLog">
            <span class="slider round"></span>
          </label>
          
          <span class="stat-label">Enable 2FA for my account.</span>
          <label class="switch">
            <input type="checkbox" [checked]="settings.twoFactorAuth">
            <span class="slider round"></span>
          </label>
          
          <span class="stat-label">Choose your Theme</span>
          <select class="dropdown" [value]="settings.theme">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
          </select>
        </div>
        
      </div>
    </div>
  </div>
</div>